.login-container {
  opacity: 85%;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--mainBackgroundColor);

  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.login-container h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #262262;
}

label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}
