#page_container {
    display: flex;
}

#business_left {
    display:flex;
    flex-direction: column;
    width: 40%;
}

#business_left img {
    align-self: center;
    margin-right: 20px;
}

#business_right {
    display:flex;
    flex-direction: column;
    width: 60%;
}

#business_left button{
    width: 30%;
    align-self: center;
}
#business_left label {
    display: flex;
}

#business_left span{
    align-self: center;
}
#icon{
    padding-left: 20px;
    border-radius: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
}

#description {
    background-color: aliceblue;
    width: 100%;
    height: max-content;
    border-radius:  10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-div{
    margin-top: 50px;
    align-self: center;

  }
