.dashboard {
    border-radius: 20px 20px 20px 20px;
    background-color:rgba(205, 223, 240, 0.9);

    max-width: 1600px;
    height: 200vh;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.05);
    display:flex;
    flex-direction: column;
}

#business-button {
    background: #fff;
    padding: 30px 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #262262;
    color:#262262;
}
#business-button span{
    font-size: 30px;
}
#business-button:hover {
    color: aliceblue;
    background-color: #262262;
}
.profile-grid-container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 2fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1.5fr 1fr;
    
}

.profile-grid-container div{
    align-self: center;
    justify-self: center;
}

#Avatar img{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.dashboard img{
    color: white;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    border-radius: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.3);
}

#Avatar {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

#UserName {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#Phone {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    align-self: end;
}
#Mail {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    align-self: end;
}

#Linkedin {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: end;
}

#Twitter {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: end;
}

#Facebook {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: end;
    align-self: start;
}
#Instagram {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: end;
}
#Snapchat {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: start;
    align-self: start;
}
#Tiktok {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: start;
}
#Youtube {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: start;
}

#Custom {
    grid-column-start: 4;
    grid-row-start: 5;
    justify-self: center;
    align-self: end;
    display: flex;
    align-items: center;
}

#Custom img {
    border-radius:0;
    box-shadow: none;
}

@media (max-width: 1145px ) {
    #Linkedin {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }
    #Twitter {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: end;
    }
    #Tiktok {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: start;
    }
    #Youtube {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }
}

@media (max-width: 950px ) {
    .profile-grid-container {
        margin-top: -90px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr;
    }

    #Avatar {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
    }
    
    #UserName {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        align-self: end;
    }
    
    #Phone {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
    }
    #Mail {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
    }
    
    #Facebook {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
    }
    
    #Instagram {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
        align-self: end;
    }

    #Snapchat {
        grid-column-start: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
    }

    #Linkedin {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: center;
        align-self: center;
    }
    #Twitter {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: center;
        align-self: center;
    }
    
    #Tiktok {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
    }
    #Youtube {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        justify-self: center;
        align-self: center;
    }
    
    #Custom {
        background: grey;
        height: 80px;
        width: 80px;
        padding:20px;
        border-radius: 200px;  
    
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 6;
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
    }
    
}

#business-container {
    background-color: #cf9970;
    border-radius: 20px;
    border-bottom:rgba(0, 0 , 0, 0.05);
}