@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    background-image: url("./assets/galaxy2.webp");
    font-family:var(--mainFont);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainTextColor: #262262;
    --mainBackgroundColor: rgb(205, 223, 240);
    --logoFont: "Lora";
    --mainFont: "Oswald";
}

li, ul {
    list-style-type: none;
}

img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

 button {
    color: aliceblue;
    background-color: var(--mainTextColor);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid var(--mainTextColor);
    font-family: var(--mainFont);
}

button:hover {
    background: var(--mainBackgroundColor);
    color: var(--mainTextColor);

}

button:disabled {
    background-color: grey;
    color: white;
    border: none;
}
input {
    padding: 8px 6px;
    font-size: 1em;
    color: black;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus {
    color: var(--mainTextColor);
    outline: none;
    border: 1px solid var(--mainTextColor);
  }